.win-status
{
    font-size: 4vmin;
    text-align: center;
    line-height: 8vmin;
}
.win{
    font-size: 5vmin;
    color: green;
}
.loss {
    color: red;
}
.other {
    font-size: 4vmin;
}